<h1>投稿確認</h1>

<%= form_with(model: @post, url: posts_path, local: true) do |form| %>
  <%= form.hidden_field :content %>

  <p class="post_content">本文：<%= @post.content %></p>
  <div class="submit">
    <%= form.submit  "登録", class:"submit_button" %>
  </div>
<% end %>

<%= form_with(model: @post, url: new_post_path, local: true, method: 'get') do |form| %>
  <%= form.hidden_field :content %>
  <div class="submit">
    <%= form.submit "戻る", name: 'back', class:"submit_button" %>
  </div>
<% end %>